/* ---------------------------------------------------------------- */
/* 35.Home Svg Pattern 3                              
/* ---------------------------------------------------------------- */
#svg-pattern-3 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	pointer-events: none;
}