/* ---------------------------------------------------------------- */
/* 31.Home Ripples Background                 
/* ---------------------------------------------------------------- */
#hero-riples-banner{
    z-index: 15;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    align-items: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
    &:before {
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 0.75;
        position: absolute;
        background: $color_dark_bg;
    }
}