/* ---------------------------------------------------------------- */
/* 13.Work Process                            
/* ---------------------------------------------------------------- */
.work-process-item {
    padding: 30px;
    text-align: center;
    &.active {
        z-index: 11;
        padding: 30px;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 30px;
        transition: all 0.5s ease;
        background: $color_white;
        box-shadow: 0 23px 49px 0 $color_shadow;
    }
    .work-process-icon {
        color: $color_primary;
        margin-bottom: 10px;
        i {
            &:before {
                margin-left: 0;
                font-size: 75px;
            }
        }
    }
    .work-process-body {
        span {
            color: $color_primary;
            font-size: 42px;
            font-weight: 700;
            font-family: $font_heading;
            margin-bottom: 5px;
            display: block;
        }
        h6 {
            margin-bottom: 10px;
        }
    }
}